<template>
    <div v-show="isAdmin">
        <h2 class="text-3xl tracking-tight text-gray-900 sm:text-1xl dark:text-white pb-4">{{ pageTitle }}</h2>
        <div class="flex items-center bg-white border rounded-sm overflow-hidden shadow pt-4 pb-4">
            <div class="px-4 text-gray-700 w-full">
                <p class="text-gray-900">
                    <a-form
                        :model="form"
                        name="basic"
                        :label-col="labelCol"
                        :wrapper-col="wrapperCol"
                        autocomplete="off"
                    >
                        <a-form-item
                            label="Name"
                            name="name"
                        >
                            <a-input v-model:value="form.name" allow-clear />
                        </a-form-item>
                        <a-form-item
                            label="Email"
                            name="email"
                        >
                            <a-input v-model:value="form.email" allow-clear/>
                        </a-form-item>
                        <a-form-item name="logo" label="Logo">
                            <a-upload
   
                                name="logo"
                                list-type="picture"
                                :multiple="false"
                                :before-upload="disableAutoUpload"
                                v-on:change="uploadLogo"
                            >
                                <a-button>
                                 <template #icon><UploadOutlined /></template>
                                    Click to upload
                                </a-button>
                            </a-upload>
                        </a-form-item>
                        <a-form-item
                            label="Website"
                            name="website"
                        >
                        
                            <a-input v-model:value="form.website" allow-clear/>
                        </a-form-item>
                        <a-form-item :wrapper-col="{ span: 0, offset: 0 }">
                            <a-button type="primary" html-type="submit" @click="submitForm()">Submit</a-button>
                        </a-form-item>
                    </a-form>
                   
                </p>
            </div>
        </div>
    </div>
    <div v-show="!isAdmin">
        <h2 class="text-3xl tracking-tight text-gray-900 sm:text-1xl dark:text-white pb-4">Unauthorized</h2>
        <div class="flex items-center bg-white border rounded-sm overflow-hidden shadow pt-4 pb-4">
            <div class="px-4 text-gray-700">
                <p class="text-gray-900">You dont permission to access this page!</p>
            </div>
        </div>
    </div>
</template>

<script>
import { ref,h } from 'vue'
import { mapState } from 'vuex'
import { SmileOutlined } from '@ant-design/icons-vue';
import { notification } from 'ant-design-vue';

export default {
    data() {
        return { 
            pageTitle : "Add Company",
            form : {
                name : "",
                email : "",
                logo : ref(null),
            },
            contractFileList : []
            // labelCol: { span: 8 },
            // wrapperCol: { span: 16 },
        }
    },
    setup() { 
        return {  
            labelCol: {
                span: 0,
            },
            wrapperCol: {
                span: 10,
            },
        };
    },
    methods: {

        submitForm() {

            axios.post('/api/companies', {

                name: this.form.name,
                email: this.form.email,
                logo: this.form.logo,
                website: this.form.website,
            },
                {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                }
            ).then(res => {

                this.$router.push('/company')

            }).catch(err => {

                this.openNotification(JSON.stringify(err.response.data.message))

                console.log('=======> ' + err)
            })
        },
        uploadLogo(e) {

            let files = e.fileList;
            let file = files[0].originFileObj
            this.form.logo = file
        },
        disableAutoUpload(){

            return false
        },
        openNotification(x){

            notification.open({
                message: 'Form Error!',
                description: x,
                icon: () =>
                h(SmileOutlined, {
                    style: 'color: #108ee9',
                }),
            });
        }
    },
    computed: {
        ...mapState(['user', 'userLoaded']),

        isAdmin(){

            // console.log(JSON.stringify(this.user))

            const roles = ["admin"]
            const intersection = this.user.roles.filter(element => roles.includes(element))

            return (intersection.length > 0)
        },
    },
}
</script>
