<template>
    <div v-show="isAdmin">
        <h2 class="text-3xl tracking-tight text-gray-900 sm:text-1xl dark:text-white pb-4">Company</h2>
        <div class="flex items-center bg-white border rounded-sm overflow-hidden shadow pt-4 pb-4">
            <div class="px-4 text-gray-700 w-full">
              
                <a-button type="primary" class="mb-4"
                @click.prevent="goto(routes.addCompany)" 
                :href="routes.addCompany">Add Company</a-button>
                <p class="text-gray-900">
                    <a-table 
                        :columns="columns"
                        :rowKey="record => record.id"
                        :dataSource="data"
                        :pagination="pagination"
                        :loading="loading"
                        @change="handleTableChange"
                    >
                    <template #logo="{ text }">
                        <a-image
                            :width="200"
                            :src="text"
                        />
                    </template>
                    <template #website="{ text }">
                        <a-anchor-link :href="text" :title="text" />
                    </template>
                    <template #bodyCell="{ column,record }">
                        <template v-if="column.key === 'operation'">
                            <a-button class="mb-4" size="small"
                            @click.prevent="editClick(record)" 
                             >Edit</a-button>
                             <a-button class="mb-4" size="small"
                            @click.prevent="deleteClick(record)" 
                             >Delete</a-button>
                        </template>
                    </template>
                    </a-table>
                </p>

            </div>
        </div>
    </div>

    <div v-show="!isAdmin">
        <h2 class="text-3xl tracking-tight text-gray-900 sm:text-1xl dark:text-white pb-4">Unauthorized</h2>
        <div class="flex items-center bg-white border rounded-sm overflow-hidden shadow pt-4 pb-4">
            <div class="px-4 text-gray-700">
                <p class="text-gray-900">You dont permission to access this page!</p>
            </div>
        </div>
    </div>
</template>

<script>
import { computed,h } from "vue";
import { mapState } from 'vuex'
import axios from 'axios';
import { SmileOutlined } from '@ant-design/icons-vue';
import { notification } from 'ant-design-vue';

export default {
  mounted() {
    this.fetch();
  },
  data() {
    return {
      data: [],
      pagination: {},
      loading: false,
      routes: {
        addCompany : 'company/add',
      },
      columns : [
            {
                title: 'Name',
                dataIndex: 'name',
                // sorter: true,
                width: '20%',
                // scopedSlots: { customRender: 'name' },
            }, 
            {
                title: 'Email',
                dataIndex: 'email',
                width: '20%',
            }, 
            {
                title: 'Logo',
                dataIndex: 'logo',
                key: 'logo',
                width: '40%',
                slots: {
                    customRender: 'logo',
                },
            },
            {
                title: 'Website',
                dataIndex: 'website',
                width: '20%',
                slots: {
                    customRender: 'website',
                },
            }, 
            {
                title: 'Action',
                key: 'operation',
                fixed: 'right',
                width: 100,
            },
            
        ],
        delayInMilliseconds : 500
    }
  },
  methods: {
    handleTableChange (pagination, filters, sorter) {
      console.log(pagination);
      const pager = { ...this.pagination };
      pager.current = pagination.current;
      this.pagination = pager;
      this.fetch({
        results: pagination.pageSize,
        page: pagination.current,
        sortField: sorter.field,
        sortOrder: sorter.order,
        ...filters,
      });
    },
    fetch (params = {
        results : 10,
        page : 1,
    }) {


      this.loading = true
      
        axios.get(`/api/companies`, {
            params,
        }).then((res) => { 

            const pagination = { ...this.pagination };
            
            pagination.total = res.data.recordsTotal;
            this.loading = false;

            // console.log(res.data.data)
            this.data = res.data.data
           
            this.pagination = pagination;
        }).catch(err => {
            console.log('=======> ' + err)
        })
    },
    goto(to) {

        if (this.$route.path === to) {
            
        } else {
            this.$router.push(to).then(() => {})
        }
    },
    editClick(x) {
        this.$router.push('/company/'+x.id)
    },
    deleteClick(x) {
        axios.delete(`/api/companies/${x.id}`, {

        }).then((res) => { 

            this.openNotification('Delete success!')

            setTimeout(function() {
                
                // this.$router.go(0)
                window.location.reload();
            }, this.delayInMilliseconds);

        }).catch(err => {
            this.openNotification('Delete failed! This company has employee!')
            console.log('=======> ' + err)
        })
    },
    openNotification(x){

        notification.open({
            message: 'Notification!',
            description: x,
            icon: () =>
            h(SmileOutlined, {
                style: 'color: #108ee9',
            }),
        });
    }

  },
  computed: {
        ...mapState(['user', 'userLoaded']),

        isAdmin(){

            // console.log(JSON.stringify(this.user))

            const roles = ["admin"]
            const intersection = this.user.roles.filter(element => roles.includes(element))

            return (intersection.length > 0)
        },
    },
}
</script>
