<template>
    <div>
        <h2 class="text-3xl tracking-tight text-gray-900 sm:text-1xl dark:text-white pb-4">Dashboard</h2>
        <div class="flex items-center bg-white border rounded-sm overflow-hidden shadow pt-4 pb-4">
            <div class="px-4 text-gray-700">
                <!-- <h3 class="text-sm tracking-wider">Total Member</h3> -->
                <!-- <a-button type="primary">Primary Button</a-button> -->
                <p class="text-gray-900">Welcome to GRTech </p>
                 
            </div>
        </div>
    </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
    name: 'Dashboard',
}
</script>
