<template>
    <div>
        <h2 class="text-3xl tracking-tight text-gray-900 sm:text-1xl dark:text-white pb-4">{{ pageTitle }}</h2>
        <div class="flex items-center bg-white border rounded-sm overflow-hidden shadow pt-4 pb-4">
            <div class="px-4 text-gray-700 w-full">
                <!-- <h3 class="text-sm tracking-wider">Total Member</h3> -->
                <!-- <a-button type="primary">Primary Button</a-button> -->
                <p class="text-gray-900">

                    <a-form
                        :model="form"
                        name="basic"
                        :label-col="labelCol"
                        :wrapper-col="wrapperCol"
                        autocomplete="off"
                    >
                         <a-form-item
                            label="First Name"
                            name="firstName"
                        >
                            <a-input v-model:value="form.first_name" allow-clear />
                        </a-form-item>
                        <a-form-item
                            label="Last Name"
                            name="lastName"
                        >
                            <a-input v-model:value="form.last_name" allow-clear/>
                        </a-form-item>
                        <a-form-item
                            label="Email"
                            name="email"
                        >
                            <a-input v-model:value="form.email" allow-clear/>
                        </a-form-item>
                        <a-form-item
                            label="Phone"
                            name="phone"
                        >
                            <a-input v-model:value="form.phone" allow-clear/>
                        </a-form-item>
                        <a-form-item label="Company" name="region">
                            <a-select v-model:value="form.company_id" placeholder="please select your zone">
                                <a-select-option v-for="option in optionsSelect" :key="option.value" :value="option.value"> {{ option.text }}</a-select-option>
                            </a-select>
                        </a-form-item>
                        <a-form-item :wrapper-col="{ span: 0, offset: 0 }">
                            <a-button type="primary" html-type="submit" @click="submitForm()">Submit</a-button>
                        </a-form-item>
                    </a-form>
                </p>
                 
            </div>
        </div>
    </div>
</template>

<script>
import { h } from 'vue'
import { mapState } from 'vuex'
import { SmileOutlined } from '@ant-design/icons-vue';
import { notification } from 'ant-design-vue';

export default {
    data() {
        return { 
            pageTitle : "Edit Employee",
            form : {
                first_name : "",
                last_name : "",
                email : "",
                phone : "",
                company_id : ""
 
            },
            optionsSelect: []
        }
    },
    setup() { 
        return {  
            labelCol: {
                span: 0,
            },
            wrapperCol: {
                span: 10,
            },
        };
    },
    methods: {
        getCompany(){
            
            axios.get('/api/employees?list=company')
                .then((response) => {

                    const options = response.data.data.map(item => {

                        const container = {}

                        container.value = item.id
                        container.text = item.name

                        return container
                    })

                    this.optionsSelect = options
                })
                .catch( resonse => {
                    console.log('error');
                })
        },
        submitForm() {

            axios.post(`/api/employees/${this.$route.params.uuid}?_method=PUT`, {

                first_name: this.form.first_name,
                last_name: this.form.last_name,
                email: this.form.email,
                phone: this.form.phone,
                company_id: this.form.company_id,
            }).then(res => {

                this.$router.push('/employee')

            }).catch(err => {
                this.openNotification(JSON.stringify(err.response.data.message))

                console.log('=======> ' + err)
            })
        },
        openNotification(x){

            notification.open({
                message: 'Form Error!',
                description: x,
                icon: () =>
                h(SmileOutlined, {
                    style: 'color: #108ee9',
                }),
            });
        },
        getEmployeeData(x) {
            axios.get('/api/employees/'+x)
                .then((res) => {


                    let data = res.data.data
                    this.form.first_name = data.first_name
                    this.form.email = data.email
                    this.form.phone = data.phone
                    this.form.last_name = data.last_name
                    this.form.company_id = data.company.id

                })
                .catch( err => {
                    console.log('error');
                })

        },
    },
    mounted() {

        
        this.getCompany()
        this.getEmployeeData(this.$route.params.uuid)
        
    },
}
</script>
