<template>

  <div class="leading-normal tracking-normal" id="main-body">
    <div class="flex flex-wrap">
      <Sidebar />
      <div class="w-full bg-gray-100 pl-0 lg:pl-64 min-h-screen" :class="overlay" id="main-content">
        <div class="p-8 bg-gray-100 mb-20"> 
          <router-view></router-view>
        </div>

      </div>
    </div>
  </div>

</template>

<script>

import { mapState } from 'vuex'
import Sidebar from './Sidebar.vue'

export default {
  components: {
    Sidebar
  },
  data() {
    return {

      userData: {}
    };
  },
  mounted() {
    // document.title = (this.companyTitle === '') ? this.pageTitle : this.pageTitle + ' - ' + this.companyTitle
    console.log("App Mounted");
    // $("#overlay").fadeIn()

  },
  computed: {

  },
  methods: {


  }
}
</script>