<template>

  <div class="w-1/2 md:w-1/3 lg:w-64 fixed md:top-0 md:left-0 h-screen lg:block bg-gray-100 border-r z-30"
    id="main-nav">



    <div class="mb-4 px-4 pt-4">
      <p class="pl-4 text-sm font-semibold mb-1">MAIN</p>
      <div
        class="w-full flex items-center text-blue-400 h-10 pl-4 hover:bg-gray-200 rounded-lg cursor-pointer">
        <svg class="h-6 w-6 fill-current mr-2" viewBox="0 0 20 20">
          <path
            d="M18.121,9.88l-7.832-7.836c-0.155-0.158-0.428-0.155-0.584,0L1.842,9.913c-0.262,0.263-0.073,0.705,0.292,0.705h2.069v7.042c0,0.227,0.187,0.414,0.414,0.414h3.725c0.228,0,0.414-0.188,0.414-0.414v-3.313h2.483v3.313c0,0.227,0.187,0.414,0.413,0.414h3.726c0.229,0,0.414-0.188,0.414-0.414v-7.042h2.068h0.004C18.331,10.617,18.389,10.146,18.121,9.88 M14.963,17.245h-2.896v-3.313c0-0.229-0.186-0.415-0.414-0.415H8.342c-0.228,0-0.414,0.187-0.414,0.415v3.313H5.032v-6.628h9.931V17.245z M3.133,9.79l6.864-6.868l6.867,6.868H3.133z">
          </path>
        </svg>
        <span class="text-gray-700"><a @click.prevent="goto(routes.index)" 
          :href="routes.index">
          Dashboard</a></span>
      </div>
      <div class="w-full flex items-center text-blue-400 h-10 pl-4 hover:bg-gray-200 rounded-lg cursor-pointer" v-show="menuRoles('admin')">
        <svg class="h-6 w-6 fill-current mr-2" viewBox="0 0 20 20">
          <path
            d="M17.431,2.156h-3.715c-0.228,0-0.413,0.186-0.413,0.413v6.973h-2.89V6.687c0-0.229-0.186-0.413-0.413-0.413H6.285c-0.228,0-0.413,0.184-0.413,0.413v6.388H2.569c-0.227,0-0.413,0.187-0.413,0.413v3.942c0,0.228,0.186,0.413,0.413,0.413h14.862c0.228,0,0.413-0.186,0.413-0.413V2.569C17.844,2.342,17.658,2.156,17.431,2.156 M5.872,17.019h-2.89v-3.117h2.89V17.019zM9.587,17.019h-2.89V7.1h2.89V17.019z M13.303,17.019h-2.89v-6.651h2.89V17.019z M17.019,17.019h-2.891V2.982h2.891V17.019z">
          </path>
        </svg>
        <span class="text-gray-700">
          <a @click.prevent="goto(routes.company)" 
          :href="routes.company">
          Company</a>
        </span>
      </div>
      <div class="w-full flex items-center text-blue-400 h-10 pl-4 hover:bg-gray-200 rounded-lg cursor-pointer">
        <svg class="h-6 w-6 fill-current mr-2" viewBox="0 0 20 20">
          <path
            d="M17.283,5.549h-5.26V4.335c0-0.222-0.183-0.404-0.404-0.404H8.381c-0.222,0-0.404,0.182-0.404,0.404v1.214h-5.26c-0.223,0-0.405,0.182-0.405,0.405v9.71c0,0.223,0.182,0.405,0.405,0.405h14.566c0.223,0,0.404-0.183,0.404-0.405v-9.71C17.688,5.731,17.506,5.549,17.283,5.549 M8.786,4.74h2.428v0.809H8.786V4.74z M16.879,15.26H3.122v-4.046h5.665v1.201c0,0.223,0.182,0.404,0.405,0.404h1.618c0.222,0,0.405-0.182,0.405-0.404v-1.201h5.665V15.26z M9.595,9.583h0.81v2.428h-0.81V9.583zM16.879,10.405h-5.665V9.19c0-0.222-0.183-0.405-0.405-0.405H9.191c-0.223,0-0.405,0.183-0.405,0.405v1.215H3.122V6.358h13.757V10.405z">
          </path>
        </svg>
        <span class="text-gray-700">
          <a @click.prevent="goto(routes.employee)" 
          :href="routes.employee">
          Employee</a>
        </span>
      </div>
      <div class="w-full flex items-center text-blue-400 h-10 pl-4 hover:bg-gray-200 rounded-lg cursor-pointer">
        <svg class="h-6 w-6 fill-current mr-2" viewBox="-1 -2 15 20">
          <path
            d="M1 1L8 1V2L2 2L2 13H8V14H1L1 1ZM10.8536 4.14645L14.1932 7.48614L10.8674 11.0891L10.1326 10.4109L12.358 8L4 8V7L12.2929 7L10.1464 4.85355L10.8536 4.14645Z"
           />
        </svg>
        <span class="text-gray-700"> <a @click.prevent="logout()" class="dropdown-item"
            :href=routes.logout>Logout</a></span>
      </div>
    </div>
  </div>
</template>

<script>

import { mapState } from 'vuex'
export default {

  data() {

    return {
      routes: {
        index: '/',
        logout: '/logout',
        employee : '/employee',
        company : '/company'
      },
      arrLocalStorage: this.storageList,
      api_uri: import.meta.env.VITE_API_URL
    }
  },
  methods: {
    logout() {

      this.arrLocalStorage.forEach(item => localStorage.removeItem(item))
      localStorage.clear();
      // $("#overlay").fadeIn()
      axios.post(`${this.api_uri}/logout`).then(() => location.href = '/login').catch(err => {
        location.href = '/login'
      })
    },
    goto(to) {

      if (this.$route.path === to) {

        this.$router.go(0)

      } else {

        this.$router.push(to).then(() => {

        })
      }

    },
    menuRoles(roles) {

      if (this.user.roles) {

        const intersection = this.user.roles.filter(element => roles.includes(element))

        return (intersection.length > 0)
      }

      return false
    },
  },
  computed: {
        ...mapState(['user', 'userLoaded']),
    },
}
</script>